@import 'reset';
@import 'variables';
@import 'typography';
@import 'base';
@import 'code';
@import 'content-box';
@import 'utils';

/* ===========
   ABOUT ITEMS
   =========== */

 section#about {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 300px;
 }

div[id*='-about-item'] {
  padding: 50px;
  margin: 100px;
  max-width: 1050px;
  min-height: 300px;
  background-color: rgba(221, 251, 255, 0.35);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (min-width: 220px) and (max-width: 700px) {
  div[id*='-about-item'] {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

div[id*='-about-item'] p {
   margin: 15px;
}
div[id*='-about-item'] h2 {
   text-align: center;
   font-family: 'Norwester';
   margin-top: 20px;
   margin-bottom: 40px;
}


/* ===========
   POST ITEMS
   =========== */

.post-card {
  margin-bottom: var(--space);
  position: relative;

  &__header {
    margin-left: calc(var(--space) * -1);
    margin-right: calc(var(--space) * -1);
    margin-bottom: calc(var(--space) / 2);
    margin-top: calc(var(--space) * -1);
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;

    &:empty {
      display: none;
    }
  }

  &__image {
    min-width: 100%;
  }

  &__title {
    margin-top: 0;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1);
  }

  &__tags {
    z-index: 1;
    position: relative;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 0;
  }
}
.post-meta {
  font-size: .8em;
  opacity: .8;
}
.post-tags {
  line-height: 1.1;

  &__link {
  	margin: .7em;
  	font-size: .7em;
  	color: currentColor;
  	text-decoration: none;
  	background-color: var(--bg-color);
  	color: currentColor!important; //Todo: remove important;
  	padding: .15em;
  	border-radius: var(--radius);
  }
}

/* =============================
   Materials Content Body Styles
   ============================= */

section#materials div.posts {
  display: grid;
  margin: 35px;
  grid-template-columns: 1fr 1fr;
}
section#dv-materials div.posts {
  margin: 35px;
  width: 100%;
}
@media (max-width: 880px) {
  section#materials div.posts {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 520px) {
  section#materials div.posts {
    margin: 0px;
  }
}

#materials h2 {
  text-align: center;
  font-family: 'Norwester';
  margin: 40px 0px;
}

.market-cards {
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #ffffff;
}

.market-cards h3 {
  font-size: 22px;
  padding: 25px;
  text-align: center;
  cursor: pointer;
}
.market-cards h5 {
  margin: 0;
}
.market-cards h6 {
  font-size: 0.7em;
  line-height: 1.1;
}
.market-cards p {
  font-size: 0.6em;
  line-height: 1.1;
}
.market-cards .post-card__meta {
  font-size: .4em;
  margin-top: 5px;
}

.market-content {
  padding: 10px;
}

.melodeon.active .icon:after {
  width: 0;
}
.melodeon .icon:hover {
  color: #00e2ff;
}

.melodeon .icon {
  display: inline-flex;
  position: relative;
  top: 35px;
  left: 5px;
  margin-right: 15px;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #10717f;
  border-radius: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.melodeon .icon:before, .melodeon .icon:after {
  content: '';
  width: 1.25rem;
  height: 0.25rem;
  background: #6d6063;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.melodeon .icon:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  z-index: -1;
}
@media (-webkit-min-device-pixel-ratio:0) {
  .melodeon .icon {
    background-color: #000000;
    background-image: -webkit-linear-gradient(left, #00e2ff 0%, orange 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: 1s .2s;
    -webkit-background-clip: text;
  }
  .melodeon .icon:hover {
    background-position: 0 0;
    color: transparent;
    transition: .4s 0;
  }
}
@media only screen and (min-width: 220px) and (max-width: 549px) {
  .market-cards {
    min-height: 100px;
    width: 100%;
    margin: 0px;
  }
}

/* Melodeon animations */
.bump-open-melodeon {
  animation: bumpPageIn 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
}

@keyframes bumpPageIn{
  0% {transform:rotateY(0deg) translateZ(0.5em);opacity:0.9}
  30% {opacity:0.95}
  100% {transform: rotateY(0deg) translateZ(0) ; opacity:1}
}

/* Market content styles */

ul.ul-no-styles {
  list-style: outside none none;
  text-indent: 0px;
  margin: 15px 0px 15px 15px;
}
ul.ul-no-styles li {
  margin: 25px 15px;
  width: 60%;
  cursor: pointer;
  text-decoration: underline;
}
ul.ul-no-styles li:hover {
  text-decoration: none;
}
#dossier {
  display: inline-block;
  display: -webkit-inline-box;
  margin-left: 15px;
}

/* Modal styles */
#teaching-philosophy-modal p.epigraph,
#teaching-philosophy-modal .modal-body p.epigraph,
#research-agenda-modal p.epigraph,
#research-agenda-modal .modal-body p.epigraph {
  font-size: 1.2em;
  font-style: italic;
  text-align: right;
  line-height: 1.25;
  margin: 25px 25px 25px 50px;
}
#teaching-philosophy-modal .modal-body p,
#research-agenda-modal .modal-body p {
  margin-right: 25px;
  margin-left: 25px;
  line-height: 1.25;
}
.modal-body h3 {
  margin: 25px;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
.modal-body h5 {
  margin: 30px 25px 15px 25px;
  text-align: left;
  font-size: 1.25em;
  font-weight: bold;
}
.modal-body span.h3-smaller {
  font-size: 0.85em;
}

#research div#non-refereed,
#teaching div#umn-courses {
  padding-top: 30px;
}
#teaching h4 {
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 35px;
}

/* Bootstrap Modal Overrides */
#teaching-philosophy-modal h2.modal-title,
#research-agenda-modal h2.modal-title {
  text-align: right;
  margin-top: 75px;
  margin-bottom: 20px;
  margin-right: 25px;
  font-family: "Operator";
}
#teaching-philosophy-modal h2.modal-title span,
#research-agenda-modal h2.modal-title span {
  font-family: "Operator-Italic";
}
@media (min-width: 768px) and (max-width: 800px) {
  .modal-dialog {
    width: 768px;
    margin: 10px auto;
  }
}
@media (min-width: 801px) {
  .modal-dialog {
    width: 800px;
    margin: 10px auto;
  }
}

/*
  Expanding "cards"
  Inspired by J. Harry: http://codepen.io/woodwork/pen/adbyvG?editors=110
*/
.portfolio-item-container .body {
  display: grid;
  grid-template-columns: 30% 70%;
}
.portfolio-item-container .body img,
.portfolio-item-container .body .post-meta {
  justify-self: center;
}
.portfolio-item-container .body h5 {
  margin: 10px;
}
.portfolio-item-container h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 20px 0 0 0;
  padding: 0 20px;
}
.market-cards .portfolio-item-container .body p {
  line-height: 1.25;
  margin-left: 0px;
  display:block;
}
.pi-image{
  border: #563848 solid 1px;
  border-radius: 8px;
  width: 75px;
  height: 75px;
}
.course-title,
.dataviz-title {
  font-family: "BenchNine-Regular";
  margin: 0px 0px 15px 0px;
  padding: 0px;
  width: 100%;
  font-size: 2em;
}
.portfolio-item-container {
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 3px;
  border-bottom: 1px solid aliceblue;
  padding: 0;
  width: 100%;
  height: auto;
  text-align: left;
}
.course-modal-width {
  width: 100%;
}
.content {
  width: 100%;
  height: 100%;
  text-align: left;
}
.content .head {
  padding: 0 0 20px 0;
}
.content .head {
  width: 100%;
}
.content .body {
  color: #000;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFF;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.action-bar {
  padding-left: 15px;
  border-top: 1px solid #E0E0E0;
  width: 100%;
}
ul.course-dossier-list,
ul.dataviz-sources-list {
  list-style: outside none none;
  text-indent: 0px;
  margin: 0px;
  display: inline-flex;
}
ul.course-dossier-list li,
ul.dataviz-sources-list li {
  margin-right: 10px;
  padding: 15px 0 5px 0px;
}

/* =============
   Footer Styles
   ============= */

ul.btn-social {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

ul.btn-social li {
  font-size: 1.5em;
  margin: 0.25em;
}

ul.btn-social i {
  width: 25px;
}
footer a:visited {
  color: rgb(255, 174, 0);
  text-decoration: underline;
}

/* ============================
   Tooltip styles
   Thanks to Andrea Ligios
   http://jsfiddle.net/AndreaLigios/jtLbpy62/
   ========================= */

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.25s ease;
    padding: 10px;
    color: #eee;
    border-radius: 2px;
    font-size: 1rem;
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: #10717f;
    color: #fff;
    margin-top: -50px;
    margin-left: 0px;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

/* ===========
   A11Y Styles
   =========== */

.screen-reader-text-for-icons {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 1px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
